In [2]:
import akshare as ak

index_zh_a_hist_df = ak.index_zh_a_hist(symbol="510050", period="daily", start_date="19700101", end_date="22220101")
print(index_zh_a_hist_df)

              日期     开盘     收盘     最高     最低       成交量           成交额    振幅  \
0     2005-02-23  0.881  0.876  0.882  0.866  12697425  1.111793e+09  1.80
1     2005-02-24  0.876  0.876  0.876  0.868   4516142  3.941412e+08  0.91
2     2005-02-25  0.877  0.880  0.887  0.875   5064607  4.465980e+08  1.37
3     2005-02-28  0.878  0.872  0.879  0.870   1879652  1.644675e+08  1.02
4     2005-03-01  0.870  0.867  0.873  0.865   2080945  1.805736e+08  0.92
...          ...    ...    ...    ...    ...       ...           ...   ...
5039  2025-11-17  3.182  3.159  3.183  3.146   7648816  2.416180e+09  1.16
5040  2025-11-18  3.152  3.150  3.168  3.139   6626141  2.089782e+09  0.92
5041  2025-11-19  3.146  3.165  3.178  3.146   7117605  2.254121e+09  1.02
5042  2025-11-20  3.177  3.156  3.186  3.150   3863730  1.224755e+09  1.14
5043  2025-11-21  3.137  3.101  3.173  3.095   7926387  2.473787e+09  2.47

       涨跌幅    涨跌额   换手率
0    -1.24 -0.011  2.23
1     0.00  0.000  0.79
2     0.46  0.004  0.89
3    -0.91 -0.008  0.33
4    -0.57 -0.005  0.36
...    ...    ...   ...
5039 -0.75 -0.024  1.34
5040 -0.28 -0.009  1.16
5041  0.48  0.015  1.25
5042 -0.28 -0.009  0.68
5043 -1.74 -0.055  1.39

[5044 rows x 11 columns]

In [4]:
import akshare as ak
res = ak.stock_zh_a_daily(symbol="sz000001", adjust="qfq")
res.head(-10)

,date,open,high,low,close,volume,amount,outstanding_share,turnover
0,1991-04-03,0.34,0.34,0.34,0.34,100.0,5.000000e+03,3.710000e+07,0.000003
1,1991-04-04,0.33,0.33,0.33,0.33,300.0,1.500000e+04,3.710000e+07,0.000008
2,1991-04-05,0.33,0.33,0.33,0.33,200.0,1.000000e+04,3.710000e+07,0.000005
3,1991-04-08,0.33,0.33,0.33,0.33,200.0,1.000000e+04,3.710000e+07,0.000005
4,1991-04-09,0.33,0.33,0.33,0.33,400.0,1.900000e+04,3.710000e+07,0.000011
...,...,...,...,...,...,...,...,...,...
8225,2025-11-06,11.50,11.58,11.47,11.51,76658546.0,8.827995e+08,1.940560e+10,0.003950
8226,2025-11-07,11.52,11.58,11.50,11.55,73485055.0,8.481780e+08,1.940560e+10,0.003787
8227,2025-11-10,11.52,11.64,11.45,11.63,82720833.0,9.575556e+08,1.940560e+10,0.004263
8228,2025-11-11,11.62,11.69,11.57,11.67,88650887.0,1.033285e+09,1.940560e+10,0.004568
8229,2025-11-12,11.70,11.79,11.65,11.68,114132538.0,1.337964e+09,1.940560e+10,0.005881

In [10]:
fund_etf_hist_sina_df = ak.fund_etf_hist_sina(symbol="sh510050")
print(fund_etf_hist_sina_df)

            date   open   high    low  close      volume
0     2005-02-23  0.881  0.882  0.866  0.876  1269742542
1     2005-02-24  0.876  0.876  0.868  0.876   451614223
2     2005-02-25  0.877  0.887  0.875  0.880   506460695
3     2005-02-28  0.878  0.879  0.870  0.872   187965193
4     2005-03-01  0.870  0.873  0.865  0.867   208094456
...          ...    ...    ...    ...    ...         ...
5042  2025-11-20  3.177  3.186  3.150  3.156   386372977
5043  2025-11-21  3.137  3.173  3.095  3.101   792638672
5044  2025-11-24  3.105  3.110  3.086  3.094   618348200
5045  2025-11-25  3.104  3.118  3.096  3.110   570056530
5046  2025-11-26  3.113  3.250  3.111  3.114   465589180

[5047 rows x 6 columns]

In [8]:
res = ak.fund_etf_category_sina(symbol="ETF基金") 
res = res.iloc[-5:, :]
res

,代码,名称,最新价,涨跌额,涨跌幅,买入,卖出,昨收,今开,最高,最低,成交量,成交额
932,sh510060,央企ETF,2.684,-0.007,-0.260,2.673,2.686,2.691,2.677,2.690,2.675,417900,1120270
933,sh510050,上证50ETF,3.114,0.004,0.129,3.114,3.115,3.110,3.113,3.250,3.111,465589180,1455522610
934,sh510030,价值ETF,1.088,-0.003,-0.275,1.087,1.091,1.091,1.086,1.098,1.086,2411900,2628656
935,sh510020,超大盘ETF,3.841,0.028,0.734,3.837,3.859,3.813,3.827,3.852,3.822,364310,1394658
936,sh510010,180治理ETF,1.747,0.000,0.000,1.737,1.747,1.747,1.732,1.747,1.732,11500,20056